name: CD - Web de Documentación Técnica

on:
  push:
    branches:
      - master

jobs:
  javadoc:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: AuraReviews

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Generar Javadoc
        run: mvn javadoc:javadoc -B -Dmaven.javadoc.failOnError=false

      - name: Desplegar a GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: target/site/apidocs
          branch: gh-pages
          token: ${{ secrets.GITHUB_TOKEN }}
